@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Inter Tight", sans-serif;
  font-style: normal;
  padding: 0px;
  box-sizing: border-box;
  margin: 0px;
  background-color: #f9fbfd;
}

/* navbar */
button.navbar-toggler {
    background-color: white;
    border-radius: 80px;
}
.navbar-toggler-icon {
    display: inline-block;
    width: 1.2em;
    height: 1.8em;
}
.navbar-toggler:focus{
  box-shadow: none;
}

/* Hero Section */
.hero {
  background: url("./assets/images/HeroBg.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  color: #fff;
}
.hero-btn {
  background: #e09d35;
  color: #fff;
  font-size: 14px;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  text-decoration: none;
}
.hero-btn:hover {
  background: #d97706;
  color: #fff;
}
.innerHero-div {
  width: 100%;
  padding-top: 90px;
  /* max-width: 770px; */
}
.hero-heading {
  font-size: 54px;
  font-weight: 500;
  letter-spacing: 3px;
}
.innerHero-div p {
  font-size: 31px;
  font-weight: 500;
  letter-spacing: 2px;
}
.innerHero-Bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.innerHero-Bottom div {
  width: 100%;
  max-width: 566px;
}
.innerHero-Bottom p {
  font-size: 16px;
  font-weight: 400;
  margin-left: 20px;
}

/* Core Feature Button */
.Core-feature {
  margin: 60px 0px;
}
.subtitle {
  color: #e19e37;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  border-bottom: 1px solid #dfe9f6;
  padding-bottom: 10px;
}
.subtitle-number {
  color: #111827;
  margin-right: 5px;
}
.coremain-text {
  font-size: 54px;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.core-btn {
  background: #f59e0b;
  color: #fff;
  border: none;
}
.core-btn:hover {
  background: #d97706;
}

.core-right {
  margin-top: 40px;
}

.core-right h4 {
  color: #e19e37;
  font-size: 25px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.core-right p {
  color: #959ba4;
  font-size: 16px;
  margin-top: 40px;
}
.core-ul {
  margin-top: 50px;
}
.core-ul li {
  margin: 5px 0px;
  color: #959ba4;
  font-size: 16px;
}
.core-ul li span {
  margin-right: 10px;
}

/* Why Section */
.why-section {
  background-color: #fff6e8;
  padding: 100px 0px;
}
.grayBox {
  background-color: #bac2cd;
  width: 100%;
  max-width: 380px;
  height: 180px;
  border-radius: 20px;
  padding: 25px 45px;
}
.grayBox p {
  font-size: 25px;
  color: white;
  font-weight: 400;
  margin: 0px;
  text-transform: uppercase;
}
.core-ul-2 {
  font-size: 16px;
  font-weight: 400;
  color: #000;
}

/* seamless sextion */

.Seamless-section {
  padding: 100px 0px;
}
.Seamless-text {
  font-size: 54px;
  text-align: center;
  text-transform: uppercase;
  margin: 20px 0px;
}
.activebg {
  color: white;
  background-color: #e09d35 !important;
  border-radius: 12px;
  padding: 30px 30px;
  height: 251px;
}
.seamless-card-box .card-body {
  /* background-color: #E09D35; */
  border-radius: 12px;
  padding: 30px 30px;
  border: 1px solid #e09d35;
  background-color: white;
  height: 251px;
}

/* dealer section */

.Dealer-scetion {
  /* padding: 60px 0px; */
}

.family-Img {
  background-image: url("./assets/images/youngfamily.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 12px;
  padding: 90px;
  /* height: 550px; */
}

.family-Img h4 {
  font-size: 32px;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  width: 100%;
  max-width: 450px;
}
.btn-more {
  background-color: white;
  color: #000;
  font-size: 14px;
  border-radius: 50px;
  padding: 10px 20px;
  margin-top: 10px;
}
.orangeBox {
  background-color: #e09d35cc;
  border-radius: 12px;
  padding: 30px 30px;
  width: 100%;
  max-width: 550px;
  margin-top: 200px;
}
.orangeBox ul {
  color: white;
  font-size: 16px;
  font-weight: 400;
}

.card-title {
  font-size: 25px;
  font-weight: 400;
}
.card-text {
  font-size: 15px;
  font-weight: 400;
  margin-top: 10px;
}

/* trade section */

.tech-section {
  background-color: #fff6e8;
  padding: 60px 0px;
}
.tech-section p {
  font-size: 15px;
  font-weight: 400;
  color: Gray;
  text-transform: uppercase;
}
.tech-section h1 {
  font-size: 48px;
  font-weight: 500;
  text-transform: uppercase;
  width: 100%;
  max-width: 803px;
}
.btn-black {
  background: #000;
  color: #fff;
  font-size: 14px;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  text-decoration: none;
}
.tech-para {
  font-size: 16px;
  font-weight: 400;
  color: #000 !important;
  text-transform: none !important;
  line-height: 25px;
  width: 100%;
  max-width: 821px;
}

/* Cards Section */
.cards-section .card {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
}

/* CTA Section */
/* .cta-section {
  background-color: #111827;
  color: #fff;
} */

/* Footer */
footer {
  background-color: #251e13;
  color: #fff;
  padding: 60px 0px;
}
.footer-left{
  margin-top: 30px;
}
.footer-left p{
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
}
.orangetext{
  color: #e09d35;
}
.footer-left h6{
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  width: 100%;
  max-width: 440px;
  line-height: 35px;
}
.inpoutbox{
  margin-top: 20px;
  border-bottom: 1px solid white;
  padding-bottom: 5px;
  width: 100%;
  max-width: 420px;
}
.inpoutbox input{
  background-color: transparent;
  color: #fff;
  border: none;
  width: 75%;
}
input:focus-visible{
  outline: none !important;
}

@media (min-width: 1920px) {
  .hero{
    background-size: contain;
  }
  .bigScreen{
    max-width: 1220px !important;
    margin: auto !important;
    padding: 0px 130px;
  }
  .why-section {
    max-width: 1420px !important;
    margin: auto !important;
  }
  .tech-section{
    max-width: 1420px !important;
    margin: auto !important;
  }
  footer{
    max-width: 1420px !important;
    margin: auto !important;
  }
}

/* Responsive Design */
@media (max-width: 991px) {
  .hero {
    text-align: center;
    padding: 10px 20px;
  }
  .hero .col-lg-6 {
    margin: auto;
  }
  .innerHero-Bottom{
    padding: 30px 0px;
  }
}

@media (max-width: 1024px) {
  .orangeBox{
    margin-top: 50px;
  }
}

@media (max-width: 768px) {
  .navbar{
    padding-top: 0px !important;
  }
  .hero-heading {
    font-size: 35px;
  }
  .innerHero-div{
    padding-top: 20px;
  }
  .innerHero-div p{
    font-size: 18px;
  }
  .innerHero-Bottom p{
    font-size: 14px;
    text-align: left;
  }
  .innerHero-Bottom{
    display: block;
    padding-top: 50px;
    padding-bottom: 50px;
  }
    .innerHero-Bottom div{
      margin: auto;
    }
    .coremain-text {
    font-size: 32px;
    }
    .core-right img{
      width: 100%;
    }
    .list-group-item img{
      width: 10px;
    }
    .core-right h4{
      font-size: 20px;
    }
    .core-right p {
    font-size: 14px;
    margin-top: 20px;
    }
    .core-ul{
      margin-top: 20px;
    }
    .core-ul ul li{
      font-size: 14px;
    }
    .core-right a{
      margin-top: 10px !important;
    }
    .grayBox{
      margin: auto;
      margin-bottom: 20px;
      max-width: 300px;
    height: 140px;
    }
    .grayBox p {
    font-size: 18px;
    }
    .why-section img{
      width: 100%;
      max-width: 550px;
      margin: auto;
    }
    .imgDiv{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .why-section{
      padding: 30px 0px;
    }
     .why-section h4{
      font-size: 20px;
      text-align: center;
     }
     .core-ul-2{
      font-size: 14px;
     }
     .Seamless-text{
      font-size: 32px;
     }
     .seamless-card-box .card-body{
      height: auto;
      margin-bottom: 10px;
     }
     .family-Img{
      padding: 50px;
     }
     .orangeBox{
      margin-top: 50px;
     }
     .tech-section h1{
      font-size: 32px;
     }
     .tech-section p{
      font-size: 14px;
      margin-top: 0px !important;
     }
     .footer-right img{
      width: 100%;
     }
     .footer-left{
      margin-top: 0px;
     }
     .inpoutbox input{
      width: auto;
     }
}

@media (max-width: 578px) {
  .hero {
    height: 100%;
    padding: 30px 15px;
  }
  .navbar-toggler-icon {
    display: inline-block;
    width: 0.9em;
    height: 1.5em;
}
.navbar-toggler-icon {
    display: inline-block;
    width: 0.9em;
    height: 1.5em;
}
.btn-black{
  font-size: 12px;
}
.hero-heading {
    font-size: 25px;
}
.innerHero-div p {
    font-size: 14px;
}
.innerHero-Bottom{
  padding: 0px 0px;
  display: block;
}
.innerHero-Bottom p{
  font-size: 14px;
  text-align: left;
}
  .btn {
    width: 100%;
    max-width: 220px;
  }
  .navbar{
    padding-top: 0px !important;
  } 
  .Core-feature{
    margin: 0px;
    text-align: center;
  }
  .subtitle {
    font-size: 12px;
  }
  .coremain-text {
    font-size: 30px;
    letter-spacing: 1px;
  }
  .core-right h4 {
    font-size: 18px;
  }
  .core-right p {
    font-size: 14px;
  }
  .core-ul{
    margin-top: 20px;
  }
  .core-ul li{
    font-size: 14px;
  }
  .why-section{
    padding: 30px 0px;
    text-align: center;
  }
  .grayBox p {
    font-size: 16px;
  }
  .grayBox {
    height: 130px;
    margin-bottom: 20px;
  }
  .core-ul-2 {
    font-size: 14px;
  }
  .core-ul-2 ul{
    margin-left: 20px;
    text-align: start;
  }
  .Seamless-section{
    padding: 30px 0px;
  }
  .Seamless-text {
    font-size: 30px;
  }
  .seamless-card-box .card-body{
    height: auto;
    margin-bottom: 15px;
  }
  .card-title {
    font-size: 20px;
  }
  .card-text {
    font-size: 13px;
  }
  .Dealer-scetion {
    text-align: center;
  }
  .family-Img{
    padding: 20px;
    background-size: 175% 100%;
  }
  .family-Img h4 {
    font-size: 24px;
    margin-top: 20px;
  }
  .orangeBox{
    margin-top: 30px;
  }
  .orangeBox ul {
    text-align: start;
    font-size: 14px;
  }
  .tech-section{
    text-align: center;
  }
  .tech-section p {
    font-size: 12px;
  }
  .tech-section h1 {
    font-size: 30px;
  }
  .trade-box p{
    padding: 0px !important;
  }
  footer{
    text-align: center;
  }
  .footer-left p {
    font-size: 12px;
  }
  .footer-left h6 {
    font-size: 18px;
  }
  .inpoutbox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .inpoutbox .btn{
    width: auto;
  }
  footer img{
    width: 350px;
    margin: auto;
  }
  .innerHero-div {
    padding-top: 40px;
  }
}

